[submodule "upstream/social-app"]
	path = upstream/social-app
	url = https://github.com/bluesky-social/social-app
[submodule "upstream/atproto-pds"]
	path = upstream/atproto-pds
	url = https://github.com/bluesky-social/atproto.git
